<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>403 - Permissão negada</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <section class="py-12 h-screen">
    <div class="h-full grid place-items-center">
      <div class="p-6 bg-white shadow-md rounded-sm">
        <h1 class="font-medium text-2xl">
          403 - Permissão negada
        </h1>
      </div>
    </div>
  </section>
</body>
</html>